# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Mac files
.DS_Store

# Model weights
*.pt

# Dataset videos
input/

# Ignore generated videos
output/
# Optional generated videos
# output/